$calc: calc(100vh - 4rem);

@import "https://fonts.googleapis.com/css2?family=Fredoka+One&family=Poppins:wght@300&display=swap";

@font-face {
  font-family: 'African';
  src: url('../fonts/african/african.ttf') format('truetype');
}

*{
  margin: 0;
  padding: 0;
} 

body, main{
  height: 100vh;
  overflow: hidden; 
  background-color: #041562;
  font-family: poppins, sans-serif;
}

main > section{
  height: 100%;
}

h1, h2, h3, h4, h5, h6, .linkButton>button{
  font-family: 'African', sans-serif;
}

 
.initGame{
  background-image: url('../img/background.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;

  &__opacity{
    background-color: rgb(72, 72, 72);
    opacity: 0.5;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  &__textContainer{
    z-index: 1;
    display: grid;
    grid-template-rows: 1fr 7fr;
    align-items: center;
    height: 100%;

    h1{
      color: #fff;
      font-size: 5em;
      text-align: center;
    }
  }
}

.linkButton{

  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;

  img{
    width: 20px;
    opacity: 0;
  }

  button{
    background-color: transparent;
    box-shadow: none;
    border: none;
    
    color: #fff;
    font-size: 1.5em;
  }

  button:hover{
    cursor: pointer;
  }
  
}

.linkButton:hover{
  img{
    opacity: 1;
  }
}

.selectDinosaurs{
  background-image: url('../img/background2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: grid;
  grid-template-rows: 4fr 1fr;
  

  &__dinosaurs{
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;

    

    &__img{
      display: flex;
      justify-content: center;
      align-items: center;

      img{
        max-height: 70vh;
      }



    }
  }

  &__tarjetas{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 100%;


  
    &__tarjeta{
      width: 115px;
      height: 120px;
      background-image: url('../img/background3.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      padding: 10px;
      box-sizing: border-box;
      border-top-left-radius: 20px;
      border-top-right-radius: 8px;
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      border: 2px solid black;
  
      img{
        width: 100px;
      }
    }
  
    &__tarjeta:hover{
      cursor: pointer;
      opacity: 0.8;
    }
  
  } 
}


.tarjetas,
.tarjetas-ataques {
  display: flex;
  gap: 10px;
}

#boton-mascota {
  width: 180px;
  height: 40px;
  border-radius: 20px;
  background: 0 0;
  border: 2px solid #fff;
  color: #fff;
  font-family: poppins, sans-serif;
  margin-top: 30px;
}
input {
  display: none;
}
input:checked + label {
  background-color: #5d8bf4;
}

// #seleccionar-ataque {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
// }
// .boton-de-ataque {
//   background-color: #11468f;
//   padding: 10px;
//   box-sizing: border-box;
//   border-radius: 20px;
//   border-color: transparent;
//   width: 80px;
//   color: #fff;
//   font-family: poppins, sans-serif;
// }
// #mensajes {
//   width: 280px;
//   background: #eee;
//   padding: 20px;
//   margin-top: 20px;
//   border-radius: 20px;
//   display: flex;
//   align-items: center;
//   flex-direction: column;
// }
// #boton-reiniciar {
//   border: none;
//   color: #11468f;
//   font-family: poppins, sans-serif;
// }
// .ataques {
//   display: grid;
//   grid-template-columns: 100px 100px;
//   color: #fff;
// }
// #vidas-jugador,
// #vidas-enemigo {
//   font-size: 32px;
//   margin-bottom: 0;
// }
// .ataques-jugador,
// .ataques-enemigo {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
// }

// #ver-mapa{
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
// }

// #mapa{
//   border: 2px solid white;
// }

@media (max-width: 360px) {
  .tarjetas,
  .tarjetas-ataques {
    flex-direction: column;
  }
}
