<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Platzi-Video
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Muli&display=swap")
        link(rel="stylesheet", href="https://unpkg.com/swiper@7/swiper-bundle.min.css")
        link(rel="stylesheet", href="assets/css/style.css")
    body
        include components/header/header.pug
        include components/search/search.pug
        h2.categories__title Lista Completa
        include components/carousel/carousel.pug

        script(src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous" referrerpolicy="no-referrer")
        script(src="https://code.iconify.design/1/1.0.7/iconify.min.js")
        script(src="script.js")
        script(src="https://unpkg.com/swiper@7/swiper-bundle.min.js") 
        script(src="scriptsSlide.js")