@import '_variables';

body {
    margin: 20px;
    font-family: $font-family_primary;
    background-color: $color-primary;
    color: $color-fourth;
    text-align: center;

}
  
* {
  box-sizing: border-box;
}
::-webkit-scrollbar {
  display: none;
}

@import '../../components/carousel/_carousel.scss';

